<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <title>SideLines</title> 
    <meta http-equiv = "Content-Type" content = "text/html; charset=UTF-8" />
    <style type="text/css">
        p {
            font-size:20px;
        }
        h1{
            font-size:60px;
        }
        h3{
            font-size:30px;
        }
    </style>
    <link rel="stylesheet" href="mystyle.css">

</head>
<body>
	    <!--Navigation bar-->
	<div id="nav-placeholder"></div>

	<script>
	$(function(){
	  $("#nav-placeholder").load("navbar.html");
	});
	</script>
	<!--end of Navigation bar-->

    <div class="header">
        <img src = Sidelineslogo2.png alt = "SideLines Logo" class="header-img">
        
        <p class="header-p">SideLines</p>
    </div>
    <!--<h1 style = "text-align : center">SideLines</h1>-->

    <!--<h1 style = "text-align : center">SideLines</h1>
    <center><img src = Sidelineslogo.png alt = "SideLines 2" width = 400 height = 200> </center>
    <center><h2><a href = "/Login">Log In</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href = "/leaguehomepage">League Homepage</a></h2></center>
    
    <h3>About SideLines</h3>
    <p>Sidelines is a web based application that provides sports leagues with a platform to track their scoring and statistics. It is created to be flexible so it can handle various sports using the same interface. Sidelines is an efficient way for convenors and team managers of various sports leagues, from school intramurals to sports organizations, to handle and present their data. The adaptive interface provides users with a detailed view of their schedule and standings.</p>
    
    <h3>Assumption</h3>
    
    <p><i>Accessibility</i></p>
    <p>Sidelines is a web-based application, so that users must have a functioning, web-capable device with a browser installed. An internet connection is required for access to the website, as well as for performing any functions.</p>
    <p><i>Device Type</i></p>
    <p>Sidelines is developed as a desktop computer application and is not designed for mobile devices. The website should function with any desktop operating system.</p>
    <p><i>Website Flow</i></p>
    <p>The user is assumed to be familiar with using a browser to be able to navigate the website in order to link to the specific views or functions they want to perform.</p>
    <br/>
    -->
    <div class="row">
        <tr th:each="league: ${leagues}">
        <div class="column">
          <div class="card">
	    <img th:src="@{${'league' + league.getId() + '.png'}}" alt="League 2" class="card-img"/>
            <div class="container">
              <h2><td th:text="${league.getLeague_name()}"></td></h2>
              <p class="title"><td th:text="${league.getSport()}"></td> | <td th:text="${league.getLocation()}"></td></p>
	      <p><a href = "/leaguehomepage"><button class="button">See <td th:text="${league.getLeague_name()}"></td></button></a></p>
            </div>
          </div>
        </div>
        </tr>
    </div>
      
    <!--
        <div class="column">
          <div class="card">
            <img src="league2.png" alt="League 2" class="card-img">
            <div class="container">
              <h2>League 2</h2>
              <p class="title">Hockey | Cambridge, ON</p>
              <p><a href = "/leaguehomepage"><button class="button">See League 2</button></a></p>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="league3.png" alt="League 3" class="card-img">
            <div class="container">
              <h2>League 3</h2>
              <p class="title">BasketBall | Kitchener, ON</p>
              <p><a href = "/leaguehomepage"><button class="button">See League 3</button></a></p>
            </div>
          </div>
        </div>
      </div>
    -->

    <footer>Creators: Kayleigh Habib, George Mandl, Syed Raza, Rehan Rana, Matthew Rosa</footer>

</body>
</html>
