<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>League Homepage</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1 style = "text-align : center">League Homepage</h1>
    <h2><a href = "/teamhomepage">Team Homepage</a></h2>
    <p1>The league homepage contains information relevant to a specific league. Underneath the league name, the page will notify users whether they are registered in the league. They can choose to register by clicking the Register button. From the league homepage, users can choose to view the league schedule or the league standings (default view).  Underneath the navigation bar, a graphic with league standings or the schedule is shown. Users can click on teams to be redirected to the team’s homepage. The league homepage is the first screen that users see upon signing in. If users aren’t registered in a league, they are prompted to the search screen.</p1>
</body>
</html>