.card-img {
    width:250px;
    height:250px;
    margin-top: 20px;
}

.column {
    float: left;
    width: 32%;
    margin-bottom: 16px;
    padding: 0 8px;

  }
  
  /* Display the columns below each other instead of side by side on small screens */
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: flex;
    }
  }
  
  /* Add some shadows to create a card effect */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  /* Some left and right padding inside the container */
  .container {
    padding: 0 16px;
    
  }
  
  /* Clear floats */
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }

  .button:hover {
    background-color: #555;
  }

  .header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding:10px 5px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
  }

  .header-p {
      
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 15px;
    font-size: x-large;

  }
  .header-img {
      height: 75px;
      border-radius: 50%;
      border: 2px solid #000;
  }
  .navbar {
  background-color: #f2f2f2;
  overflow: hidden;
  /* Style the links inside the navigation bar */
  }
  .navbar a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

/* Change the color of links on hover */
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }

  /* Add a color to the active/current link */
  .navbar a.active {
    background-color: #04AA6D;
    color: white;
  }
